<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html{
            background-color:teal;
            color: white;

            font-family: 'Open Sans', sans-serif;
            font-family: 'Space Mono', monospace;
        }
        *{
            margin: 0;
        }
        .navbar {
            display: flex;
            flex-direction: row;

            min-height: 2.5ch;

            background-color:black;

            position: sticky;
            top: 0;

            padding: 5px;
        }
        #profileSearch{
            display: block;
            position: absolute;
            right: 10px;
            width: max-content;
        }
        #profileResults{
            display: flex;
            position: fixed;
            top: 3.5ch;
            right: 40px;

            flex-direction: column;
        }
        a{
            text-decoration: none;
            color: white;
        }
        
        #profileResults > a{
            border: 1px solid black;
        }
        #profileResults > div >a:hover{
            text-decoration:underline;
        }
        #profileResults > div:nth-child(odd) > a{
            color: rgb(255, 255, 255);
        }
        #profileResults > div:nth-child(even){
            background-color: #ff9494;
        }
        #profileResults > div:nth-child(odd){
            background-color: #2b0f0f;
        }

        .links
        {
            text-decoration: none;

            padding-left: 10px;
            padding-right: 10px;
        }
        a:active{
            color: rgb(37, 84, 238);
        }
        a:hover{
            color:  rgb(87, 120, 230);
        }
        a{
            transition-property: color;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            transition-duration: 350ms;
        }
        #r{
            font-size: 3ch;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Space Mono', monospace;

            display: block;
            text-align: center;
        }
        #errormsg{
            display: block;
            text-align: center;
            font-size: 2ch;
        }
        span{
            display: block;
            text-align: center;
            color: red;
        }
        #multiplayerBox
        {
            display: flex;
            flex-direction: column;
            max-width: 230px;
            text-align: center;
            margin: 0 auto;
            margin-top: 50px;
            gap: 5px 5px;
        }
        #multiplayerBox > input{
            padding: 5px;
        }
        
    </style>
    <link rel="stylesheet" href={{{cssFile}}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://kit.fontawesome.com/45a622709a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="links"><a href="http://localhost:4000/">Home</a></div>
        <div class="links"><a href="{{{link}}}" id="link">{{{link_name}}}</a></div>
        <div class="links"><a href="http://localhost:4000/test">Test</a></div>
        <div class="links"><a href="http://localhost:4000/leaderboard">Leaderboard</a></div>
        <div class="links"><a href="http://localhost:4000/multiplayer">Multiplayer</a></div>
        <div class="links"><a href="http://localhost:4000/shoutoutboard">Shout out</a></div>
        <input type="search" id="profileSearch" placeholder="Search Profile">
    </div>

    <div id="profileResults"></div>

    {{#if error}}
    <span>&#9888;</span>
    <div id="errormsg">{{{name}}} {{{msg}}}</div>
    {{else if profilePage}}
    <div id="r">{{{username}}}-<b>{{{avg_wpm}}}</b>-{{{test_count}}}</div>
    <div>{{{content}}}</div>
    {{else}}
    {{{body}}}
    {{/if}}
</body>

<script>

    function postRequest(url, data) {

        let xml = new XMLHttpRequest();
        xml.open('POST', url, true);
        xml.setRequestHeader('Content-type', 'application/json');
        xml.onload = function(){
            console.log(this.responseText);
        }
        xml.send(JSON.stringify(data));
    }


    document.getElementById('profileSearch').addEventListener('input', ()=>{
        let string = document.getElementById('profileSearch').value;
        console.log(string);

        let xml = new XMLHttpRequest();
        xml.open('POST', "http://localhost:4000/profileSearch", true);
        xml.setRequestHeader('Content-type', 'application/json');
        xml.onload = function(){
            setTheSearchTable(this.responseText);
        }
        xml.send(JSON.stringify({profile: string}));
    })

    function setTheSearchTable(data)
    {
        {{!-- let arr = []; --}}
        data = JSON.parse(data);
        let str = '';
        console.log(data, data.length);
        for(let i=0; i<data.length; i++)
        {
            {{!-- arr.push(data[i]["username"]); --}}
            str = str + `<div><a href="http://localhost:4000/profile/${data[i]['username']}">` + data[i]["username"] + '</a></div>'
        }

        {{!-- str = '<div id="profileResults">' + str + '</div>' --}}
        console.log(str);
        document.getElementById('profileResults').innerHTML = str;
    }

</script>

</html>